$primary: rgb(255, 255, 255);
$secondary: rgb(23, 21, 25);
$dark:rgb(0, 0, 0);
$info: rgb(146,115,46);
$success: rgb(114,230,190);
$danger: rgb(190,39,204);





// Imports Bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import '../node_modules/bootstrap/scss/bootstrap';